 <h1>Your Hotel Stay is Approaching</h1>
<p>Dear <%= @reservation.user.email %>,</p>
<p>We would like to remind you that your hotel stay is scheduled from <%= @reservation.start_date %> to <%= @reservation.end_date %>.</p>
<p>Thank you for choosing our hotel.</p>
