<footer class="fixed bottom-0 w-full bg-gray-800 text-center text-white">
  <div
    class="p-4 text-center">
    © 2023 Copyright:
    <a class="text-whitehite" href="https://tailwind-elements.com/"
      >Hotel App - Dejan</a>
  </div>
</footer>

