<% @hotels.each do |hotel| %>
 <% cache 'index_content' do %>
  <%= render HotelComponent.new(hotel: hotel) %>
<% end %>
<% end %>

<h1><%= @hotel.name %></h1>


<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.rating %> stars: <%= review.comment %>
    </li>
  <% end %>
</ul>
