<div class="container mx-auto">
  <h1 class="text-3xl font-bold mb-4">Edit Hotel</h1>

  <%= render 'form', hotel: @hotel %>

  <%= link_to 'Back', admin_hotels_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4" %>
</div>
