<div class="z-30 flex w-full max-w-xl flex-col items-center text-center lg:w-1/2 lg:items-start lg:text-left ">

  <span class="mb-8">
    <p class="text-stone-700 mb-2 pr-4"><strong>Averagef Rating:</strong></p>
    <% @average_rating.floor.times do %>
    <i class="fas fa-star text-yellow-400"></i>
    <% end %>
    <% if @average_rating % 1 != 0 %>
      <i class="fas fa-star-half-alt text-yellow-400"></i>
    <% end %>
  </span>
  <span>
    <p class="mb-6 pr-4 text-sm font-medium text-stone-500 sm:text-base md:text-lg lg:pr-20 lg:text-base xl:text-lg">
        <strong class="text-stone-700">Location:</strong><br><%= hotel.address %>
    </p>
    <p class="mb-6 pr-4 text-sm font-medium text-stone-500 sm:text-base md:text-lg lg:pr-20 lg:text-base xl:text-lg">
        <strong class="text-stone-700">Description:</strong><br><%= hotel.description %>
    </p>
    <a href="/rooms" class="fold-bold relative mx-auto mt-0 inline-block w-auto self-start rounded-md border-t border-gray-200 bg-cyan-600 px-4 py-2 text-base font-bold text-white shadow-xl sm:mt-1 sm:px-2
        sm:py-1 md:px-4 
        md:py-2 md:text-base lg:mx-0
        lg:px-4 lg:py-2 lg:text-base
        xl:px-4 xl:py-2 xl:text-base">
        Reserve Room Today!
    </a>
  </span>
    <div class="mt-8 hidden flex-col sm:flex lg:mt-12">
        <p class="mb-3 text-xs font-medium uppercase tracking-widest text-stone-500">Integrates With</p>
        <div class="flex">

        <svg class="transition-color mr-4 h-8 cursor-pointer fill-current text-gray-500 duration-150 hover:text-gray-600"
            viewBox="0 0 2499 1037" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1">
                <g>
                    <path
                        d="M261.062 466.768c-53.833-19.912-83.335-35.399-83.335-59.735 0-20.652 16.963-32.45 47.201-32.45 55.31 0 112.09 21.388 151.178 40.559l22.124-136.427c-30.973-14.752-94.397-39.088-182.151-39.088-61.947 0-113.573 16.223-150.443 46.46-38.352 31.71-58.263 77.434-58.263 132.744 0 100.293 61.211 143.07 160.769 179.203 64.159 22.86 85.547 39.088 85.547 64.16 0 24.336-20.652 38.346-58.263 38.346-46.46 0-123.153-22.86-173.302-52.356L0 786.087c42.771 24.337 122.417 49.409 205.017 49.409 65.63 0 120.204-15.487 157.08-44.984 41.293-32.45 62.682-80.381 62.682-142.328 0-102.511-62.683-145.282-163.717-181.416zm523.877-80.387l22.124-135.692H690.265V85.966l-157.035 25.84-22.677 138.883-55.232 8.96-20.675 126.732h75.68v266.227c0 69.32 17.7 117.257 53.833 146.754 30.238 24.336 73.745 36.134 134.956 36.134 47.196 0 75.957-8.109 95.868-13.275V678.416c-11.062 2.953-36.133 8.114-53.097 8.114-36.134 0-51.62-18.435-51.62-60.47V386.38h94.673zm350.752-143.618c-51.62 0-92.92 27.102-109.142 75.775l-11.062-67.849H855.459v573.745h182.887V452.017c22.865-28.026 55.31-38.159 99.558-38.159 9.59 0 19.911 0 32.45 2.213V247.188c-12.539-2.948-23.6-4.425-34.663-4.425zm171.095-48.86c53.098 0 95.869-43.507 95.869-96.604 0-53.839-42.771-96.61-95.869-96.61-53.838 0-96.609 42.771-96.609 96.61 0 53.097 42.771 96.604 96.61 96.604zm-92.184 56.786h183.628v573.745h-183.628V250.689zm703.999 51.62c-32.45-42.035-77.434-62.682-134.956-62.682-53.097 0-99.558 22.124-143.07 68.584l-9.585-57.522h-160.769v786.134l182.893-30.232V822.22c28.02 8.85 56.78 13.275 82.594 13.275 45.725 0 112.096-11.798 163.717-67.843 49.408-53.839 74.485-137.168 74.485-247.052 0-97.345-18.44-171.09-55.31-218.291zm-151.92 353.983c-14.75 28.025-37.61 42.777-64.159 42.777-18.435 0-34.662-3.69-49.408-11.062V415.142c30.973-32.445 58.993-36.134 69.32-36.134 46.46 0 69.32 50.15 69.32 148.23 0 56.045-8.11 99.557-25.073 129.054zm731.566-123.894c0-91.443-19.912-163.717-59-214.602-39.822-51.62-99.557-78.169-175.514-78.169-155.608 0-252.212 115.044-252.212 299.408 0 103.247 25.808 180.68 76.692 230.089 45.725 44.248 111.361 66.372 196.168 66.372 78.169 0 150.442-18.435 196.167-48.673l-19.912-125.365c-44.989 24.336-97.345 37.61-156.344 37.61-35.398 0-59.734-7.378-77.434-22.864-19.175-16.223-30.237-42.771-33.921-80.382h303.097c.736-8.85 2.213-50.15 2.213-63.424zm-306.787-48.672c5.16-81.859 27.284-120.205 69.32-120.205 41.3 0 62.688 39.087 65.636 120.205H2191.46z" />
                </g>
            </g>
        </svg>
        <svg class="transition-color mr-4 h-8 cursor-pointer fill-current text-gray-500 duration-150 hover:text-gray-600"
            viewBox="0 0 2350 2315" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1"></g>
            <g>
                <path d="M1175 0C525.8 0 0 525.8 0 1175c0 552.2 378.9 1010.5 890.1 1139.7-5.9-14.7-8.8-35.3-8.8-55.8v-199.8H734.4c-79.3 0-152.8-35.2-185.1-99.9-38.2-70.5-44.1-179.2-141-246.8-29.4-23.5-5.9-47 26.4-44.1 61.7 17.6 111.6 58.8 158.6 120.4 47 61.7 67.6 76.4 155.7 76.4 41.1 0 105.7-2.9 164.5-11.8 32.3-82.3 88.1-155.7 155.7-190.9-393.6-47-581.6-240.9-581.6-505.3 0-114.6 49.9-223.3 132.2-317.3-26.4-91.1-61.7-279.1 11.8-352.5 176.3 0 282 114.6 308.4 143.9 88.1-29.4 185.1-47 284.9-47 102.8 0 196.8 17.6 284.9 47 26.4-29.4 132.2-143.9 308.4-143.9 70.5 70.5 38.2 261.4 8.8 352.5 82.3 91.1 129.3 202.7 129.3 317.3 0 264.4-185.1 458.3-575.7 499.4 108.7 55.8 185.1 214.4 185.1 331.9V2256c0 8.8-2.9 17.6-2.9 26.4C2021 2123.8 2350 1689.1 2350 1175 2350 525.8 1824.2 0 1175 0z" />
            </g>
            
        </svg>
        <svg class="transition-color mr-4 h-8 cursor-pointer fill-current text-gray-500 duration-150 hover:text-gray-600"
            viewBox="0 0 2500 2158" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1">
                <g transform="translate(-.157)">
                    <path d="M2498.932 499.093c-11.204 242.78-181.152 575.201-509.837 997.268-339.895 440.74-627.499 661.11-862.808 661.11-145.67 0-268.924-134.462-369.776-403.39l-201.693-739.547C480.115 745.61 399.81 611.145 313.904 611.145c-18.675 0-84.04 39.219-196.095 117.656L.155 577.53a31955.67 31955.67 0 00364.171-324.952C528.669 110.644 651.928 35.944 734.1 28.472c194.224-18.675 313.746 113.921 358.567 397.786 48.556 306.277 82.172 496.767 100.845 571.47 56.027 253.986 117.656 380.98 184.887 380.98 52.29 0 130.73-82.172 235.311-246.516 104.584-164.345 160.609-289.47 168.078-375.376 14.94-141.934-41.085-212.9-168.078-212.9-59.762 0-121.392 13.075-184.887 39.219C1552.082 183.48 1787.393-10.745 2134.757.462c257.721 7.471 379.113 173.683 364.17 498.635l.005-.004z" />
                </g>
            </g>
        </svg>
    <svg class="transition-color mr-4 h-8 cursor-pointer fill-current text-gray-500 duration-150 hover:text-gray-600"
        viewBox="0 0 680 680" xmlns="http://www.w3.org/2000/svg">
        <g stroke="none" stroke-width="1">
            <g transform="translate(-401 -701)">
                <g transform="translate(-293 -236)">
                    <g transform="translate(463 909)">
                        <g transform="translate(0 28)">
                            <g transform="translate(229.885)">
                                <path
                                    d="M242.088 0c-36.478.027-66 29.582-65.973 66-.027 36.418 29.522 65.973 66 66h66V66.027C308.142 29.608 278.593.054 242.088 0c.027 0 .027 0 0 0zm.23 175H66.912c-36.365.027-65.824 29.576-65.797 65.987-.054 36.41 29.405 65.96 65.77 66.013h175.433c36.366-.027 65.824-29.576 65.797-65.987.027-36.437-29.431-65.986-65.797-66.013zM681.115 240.987c.027-36.411-29.522-65.96-66-65.987-36.478.027-66.027 29.576-66 65.987V307h66c36.478-.027 66.027-29.576 66-66.013zm-175 .214V65.772C506.142 29.506 476.614.054 440.13 0c-36.486.027-66.04 29.48-66.014 65.772v175.429c-.054 36.293 29.501 65.745 65.987 65.799 36.485-.027 66.04-29.48 66.013-65.8zM440.115 680c36.478-.027 66.027-29.582 66-66 .027-36.418-29.522-65.973-66-66h-66v66c-.027 36.392 29.522 65.946 66 66zm-.23-175h175.433c36.366-.027 65.824-29.576 65.797-65.987.054-36.41-29.404-65.96-65.77-66.013H439.912c-36.366.027-65.824 29.576-65.797 65.987-.027 36.437 29.405 65.986 65.77 66.013zM1.115 439c-.027 36.418 29.522 65.973 66 66 36.478-.027 66.027-29.582 66-66v-66h-66c-36.478.027-66.027 29.582-66 66zm175-.249v175.444c-.054 36.296 29.501 65.751 65.987 65.805 36.485-.027 66.04-29.482 66.013-65.778V438.805c.054-36.296-29.501-65.751-65.986-65.805-36.513 0-66.04 29.455-66.014 65.751 0 0 0 .027 0 0z" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>
  </div>
</div>

<div class="carousel-container pt-4 md:pt-4">
  <div class="relative mt-4 md:h-96 w-full max-w-xl overflow-hidden rounded-lg">
    <%= cl_image_tag url_for(hotel.images.first), alt: hotel.name, class: "rounded-lg shadow-lg large-image w-full", id: "largeImage" %>
  </div>
  <div class="ml-4 mt-4 flex max-h-32 flex-row overflow-auto sm:max-h-60 md:max-h-80 lg:max-h-96" data-gallery-target="thumbnails">
    <% hotel.images.each_with_index do |image, index| %>
      <% next if index == 0 %>
      <div class="thumbnail-image relative mr-2 h-12 w-16 cursor-pointer  md:h-24 md:w-32">
        <%= cl_image_tag url_for(image), alt: hotel.name, class: "rounded-lg shadow-lg w-full h-full" %>
      </div>
    <% end %>
  </div>
</div>
